.footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  margin-top: auto;
}

.footer h1{
    font-size: 23px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.footer a {
  margin-bottom: 15px;
  text-decoration: none;
  color: white;
}

.quick {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
}

.contact {
  display: flex;
  flex-direction: column;
  margin-left: 18%;
  margin-bottom: 10px;
}

.contact ul {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}
.contact li{
  margin-bottom: 10px;
}.follow{
  margin-left: 14%;
}
.follow ul{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}