nav {
  background-color: #333; /* Background color of the navbar */
  color: #fff; /* Text color */

  /* Add padding and adjust text alignment */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
}

li {
  margin-right: 20px;
}

/* Style the navigation links */
.a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s; /* Smooth color transition on hover */

  /* Add underline on hover */
  position: relative;
}

.a:hover {
  color: #f00; /* Change color on hover */
}

/* Style the active link */
.a.active {
  color: #f00;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  ul {
    flex-direction: column; /* Stack links vertically on smaller screens */
    align-items: center; /* Center links */
  }
  li {
    margin: 10px 0; /* Adjust spacing between links */
  }
}
