.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1024px) {
  .about__section-image {
      width: 60%;
  }
  .about__section-content h1 {
      margin-bottom: 1.2rem;
  }
  .about_story-container, .aboutvision-container, .about_mission-container {
      grid-template-columns: 1fr;
      gap: 3rem;
  }
  .about_vision .about_section-image {
      grid-row: 1;
  }
}



@media screen and (max-width: 600px) {
  .about__section-image {
      width: 80%;
      margin-inline: auto;
  }

  .about_story-container, .aboutvision-container, .about_mission-container {
      gap: 2rem;
  }
}